.header-container {
    background-image: url('../../../../images/bannerbackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    margin-top: 30px;
    position: relative;
}

.input-container input {
    padding: 15px 20px;
    font-size: 17px;
    height: 50px;
    width: 80%;
    border: none;
    border-radius: 50px;
}

.input-container .btn {
    height: 50px;
    border-radius: 50px;
    position: absolute;
    right: 50px;
    padding: 0 40px;
}